endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_endpointPrivacy true
sv_hostname "Work FiveM Community"
set steam_webApiKey ""
sv_licenseKey "cfxk_P7kwjTCOsViL6LKWOwGY_3tTuy8"
sv_maxclients 10
sets sv_projectName "Work FiveM Community"
sets sv_projectDesc "Serveur de la communauté Work FiveM"
sets tags "workfivem, esx, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0
set onesync on
set mysql_connection_string "server=localhost;database=workfivem;userid=root;password="
set mysql_ui true

setr esx:locale "en"

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default resources
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Libraries
ensure oxmysql

## ESX core
ensure es_extended
ensure [2_esx_core]

## ESX Addons
ensure esx_ambulancejob
ensure esx_vehicleshop